.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    
    background-color: aquamarine;
    text-align: center;
    border-top: 0.5rem solid black;
    border-left: 0.5rem solid black;
    border-right: 0.5rem solid black;
     border-bottom: 0.5rem solid black;
    margin-left:600px;
    margin-right: 600px;
    border-color: black;
   
}
.cardBottom{
    background-color: aquamarine;
    text-align: center;
    margin: auto;
   
    border-color: black;
   
}
